AUTH_POSTGRES_DB="auth"
AUTH_POSTGRES_USER="app"
AUTH_POSTGRES_PASSWORD="123qwe"
AUTH_POSTGRES_HOST="0.0.0.0"
AUTH_POSTGRES_PORT="5433"
JWT_KEY="SuperPuperKey"
EXTERNAL_PAY_API_URL="https://pycinema.ru/payments"
INTERNAL_PAY_API_URL="http://payments-api:8000"